@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #21182F;
  font-family: var(--font-space-grotesk), sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #C7A6EF14 inset !important;
  -webkit-text-fill-color: #E8EBFF !important;
  transition: background-color 5000s ease-in-out 0s;
}